.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 244, 233);
  gap: 55px;
}

.weather-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
